.flexContainer {
    margin: 50px;
    max-width: 1200px;
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;

}

.image {
    height: 150px;
    width: auto;
}

.buttonBuy {
    color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 20px;


}